.header{
    background-color: cyan;
    display:flex;
    justify-content: center;
}

.follow{
    background-color: cyan;
    display:flex;
    justify-content: center;
}

.item{
    background-color: cyan;
    text-align: center;
}
